<!-- Aspace Content Warning Customization Begin -->
<% if AppConfig[:plugins].include?('aspace_content_warnings') %>
  <% unless record.json['content_warnings'].blank? %>
    <h3><%= I18n.t('pdf_reports.content_warnings_heading') %></h3>
    <%= render(:partial => 'aspace_content_warnings', :locals => {:content_warnings => record.json['content_warnings']}) %>
  <% end %>
<% end %>
<!-- Aspace Content Warning Customization End -->