<% define_template "content_warning", jsonmodel_definition(:content_warning) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_with_field('content_warning_code',
                          form.select('content_warning_code', form.possible_options_for('content_warning_code', true), {}),
                          :col_size => 9) %>
    <%= form.label_and_textarea("description", {:field_opts => {:class => "mixed-content"}}) %>
  </div>
<% end %>
