.content-warnings span {
  display: inline-block;
  margin: 0 0.5em 0.25em 0;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 4px;
  background-color: #ffc107;
}

.content-warnings span:hover {
  background-color: #ffca2c;
}

.content-warnings.inherited-content-warnings div {
  margin-bottom: 0.25em;
}

.content-warnings.inherited-content-warnings span {
  font-style: normal;
}

.content-warnings.inherited-content-warnings a {
  text-transform: capitalize;
}

.content-warnings span::before {
  margin-right: 0.1em;
  content: "\f02b";
  font-family: FontAwesome;
}

.aspace-offensive-content-tag-title {
  display: block;
  font-weight: bold;
}

.content-warning-external-link {
  display: inline-block;
  font-style: italic;
}

.content-warning-external-link:before {
  content: "\f059";
  margin-right: 0.25em;
  font-family: FontAwesome;
  font-style: normal;
}

.offensive-content-submit {
  display: block;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  background-color: #198754;
}

.offensive-content-submit:hover {
  background-color: #157347;
}