<ul style="list-style: none;">
<% Array(record.json['offensive_content_tags']).each do |oct| %>
    <li>
     <%
        oct_title = "#{t('enumerations.offensive_content_tag_code.' + oct['offensive_content_tag_code'], default: oct['offensive_content_tag_code'].nil? ? '' : oct['offensive_content_tag_code'])}"
        if oct['description'].nil?
          oct_description = t('offensive_content_tag_description.' + oct['offensive_content_tag_code'], default: oct['offensive_content_tag_code'].nil? ? '' : oct['offensive_content_tag_code'])
        else
          oct_description = process_mixed_content(oct['description']).html_safe
        end
      %>
        <span style="font-weight: bold;"><%= oct_title %></span>
        <p>
          <%= oct_description %>
        </p>
    </li>
<% end %>
</ul>